.name-buttons {
  display: flex;
  padding: 10px;
  flex-direction: column;
  width: 10%;
}

.roster-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 500px;
}

.roster-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 400px;
  border: 1px solid black;
  padding: 1px;
}

.roster-cell {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-container {
  display: flex;
  background-color: white;
  width: 1200px;
  height: 500px;
}

.toggle-container {
  width: 200px;
}

.availabilities-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.max-shift-input {
  width: 10%;
}